<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title id="title">Kalia Hayes | Under Construction</title>
		<meta name="description" content="Web portfolio belonging to Kalia Hayes, a Dallas based IT student." />
		<meta name="keywords" content="Pogody, Responsive Coming Soon Template, Under Construction Template, Responsive Template, HTML5 Template, themeforest.net, Bootstrap, HTML5, Creative, Landing Page, Sass, Clean, Design, Modern, Angular js, MailChimp Subscription," />
		<meta name="author" content="Kalia Hayes" />

		<link rel="shortcut icon" href="favicon.ico">
		<link rel="icon" href="favicon.ico" type="image/x-icon">

		<!--Fonts - changed to Source Code Pro-->
		<link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>

		<!--CSS-->
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>

	<body data-ng-app="contactApp">


		<!--Container-->
		<div class="pad-zero">

			<!--Splitlayout -->
			<div id="splitlayout" class="splitlayout reset-layout">

				<!--Intro-->
				<div class="intro">

					<!--Left Content Intro-->
					<div class="side side-left">

						<!--About Nav-->
						<div class="call-to-action about">
								<i class="fa fa-info fa-2x"></i>
								<i class="fa fa-times fa-2x opacity-hide"></i>
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/About Nav-->

						<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center content-wrap">

						<!--Logo-->
						<h1 class="pull-left">Kalia Hayes</h1>
						<!--/Logo-->

						<!--main content-->
						<div class="main">

							<!--Content with Typing Intro-->
							<section id="home" class="section active">
								<div  class="preloader"></div>
								<div class="align-center text-left">
									<span class="small-hr animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="200"></span>
									<p class="animated fadeInLeft"  data-animation="fadeInLeft" data-out-animation="fadeOutLeft" data-out-animation-delay="300">Hi! I'm glad you found me. This website is currently under construction but I've left some info about myself here and there. Get to know me. Feel free to connect!</p>

										<a href="./assets/KaliaHayes_Resume.pdf" target="_blank" class="btn btn-default animated fadeInLeft"  data-animation="fadeInLeft" data-animation-delay="1000" data-out-animation="fadeInLeft" data-out-animation-delay="600" data-toggle="" data-target=""><span class="button-label text-left">Resume</span><span class="arrow-wrap"><span class="arrow"></span></span></a>
								</div>
							</section>
							<!--/Content with Typing Intro-->

							<!--Notify Form-->
							<section id="contact" class="section text-left">
								<div  class="preloader"></div>
								<div class="main-menu">
									<a class="close-notify black" href="#home" data-animation="fadeInDown" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="100">
										<div class="call-to-action">
											<i class="fa fa-times fa-2x"></i>
											<span class="top"></span>
											<span class="right"></span>
											<span class="bottom"></span>
											<span class="left"></span>
										</div>
									</a>
								</div>
								w
								<!--CONTENT CHANGED & <br> ADDED-->
								<div class="notify-wrap">
									<form id="notifyMe" class="contact-form" action="notify-me.php" method="post">
										<div class="input-wrap" data-animation="fadeInLeft" data-animation-delay="100" data-out-animation="fadeOutLeft" data-out-animation-delay="900">
											<input  data-ng-model="notify" class="col-lg-10  align-center form-control input input__field input__field--hoshi notify-input-box" name="email" placeholder="email id"  type="email">
											<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
										</div>
										<button type="submit" data-hover="Send" class="btn btn-default progress-button btn-submit " data-animation="fadeInUp" data-animation-delay="900" data-out-animation="fadeOutUp" data-out-animation-delay="1300">
										<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
										</button>
									</form>
								</div>
							</section>
							<!--/Notify Form-->

							<div class="copyright">
								<ul class="social-icons">
									<li>
										<a href="https://www.linkedin.com/in/kaliahayes/" target="_blank" class="social-icon">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://github.com/KaliaHayes" target="_blank" class="social-icon">
											<i class="fa fa-github"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/KaliaHayes" target="_blank" class="social-icon">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
									<li>
										<a href="https://www.instagram.com/cosmiccode_/" target="_blank" class="social-icon">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<!--/main content-->

						</div>
					</div>
					<!--/Left Content Intro-->

					<!--Right Content Intro-->
					<div class="side side-right">
						<div class="background-kenburn"></div>
						<!--Contect Nav-->
						<div class="call-to-action contact">
								<i class="fa fa-envelope fa-2x"></i>
								<i class="fa fa-times fa-2x opacity-hide"></i>
								<span class="top"></span>
								<span class="right"></span>
								<span class="bottom"></span>
								<span class="left"></span>
						</div>
						<!--/Contect Nav-->

						<div class="counter-content">
							<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 align-center text-left">
								<p class="tagline">Dallas based Information Technology and Systems undergrad with stomping grounds at UT Dallas.</p>

								<!--Counter-->
								<div id="countdown">

								<span class="small-hr"></span>
								<br></br>
								<span class="remain-days" ><a href="https://www.utdallas.edu/whooshvideo/" target="_blank" style="color: white"> Whoosh.</a></span>
								<!--/Counter-->

							</div>
						</div>
					<div class="trans-overlay-dark"></div>
					</div>
					<!--/Right Content Intro-->
				</div>
				<!--/Intro-->

				<!--About Section-->
				<div class="page page-left">
					<div  class="page-inner full-height" style="background: url("../img/bg-pattern.jpg")">
						<div class="container align-center detail-info">
							<div class="row">
								<div class="col-lg-3 col-md-3 col-sm-3">
									<h3>About</h3>
								</div>
								<div class="col-lg-9 col-md-8 col-sm-8 col-xs-9">
									<p class="tagline">Data. Design. Dallas.</p>
									<span class="small-hr"></span>
									<p class="align-center">

										<p>Hello! My name is Kalia Hayes and I'm an <a href="http://jindal.utdallas.edu/isom/information-systems-programs/bs-its/" target="_blank">Information Technology and Systems</a> junior with a concentration in Business Intelligence and Data Analytics at the University of Texas at Dallas. In my time at UTD, I've immersed myself in all things business and data driven by taking courses such as Web Development for Business Applications, Web Analytics, and Java OOP. I've also held memberships in various UTD clubs including Women in Business and Technology, Undergraduate Success Scholars, and the UI/UX Club.</p><br>

										<p>In addition to my UTD curriculum and extracurricular activities, I partake in various highly rated open online courses(thank you Coursera, Udacity, and EdX) around the web in order to increase my exposure to BI and data analytics. I also enjoy testing my growing abilities using open online databases and communities(another thank you to Data.world and Kaggle.com). </p><br>

										<p>Apart from my studies, I've held at least one job during my entire UTD career. Since my freshman year, I've worked for UTD as an inventory clerk and assist in updating and maintaining UTD's asset databases. Also, I currently work as a remote based social media manager for four restaurants and one dairy farm. Through SMM, I have an created an environment where I utilize my business focused analytical skill set on a daily basis to drive sales and grow brand loyalty and awareness on various social media platforms. </p><br>
										<p> I look forward to sharing much more about myself with you in the near future! Have a look at some of my abilities and current concentrations below.</p><br>
										<p>Oh, and <a href="https://twitter.com/hashtag/CowboysNation" target="_blank">#CowboysNation</a></p>



										<!-- Those are my triple D's. I'm a Dallas based IT student currently attending UT Dallas(2019, I'm looking at you). In my past 3 years at UT Dallas, I've immersed mysef in all things digital and data. I am focusing my current studies on BI and analytics, while making sure to remain up to date with things that transpires in the tech-sphere. I've participated in various MOOCs(thank you Udemy, Udacity, Coursera, Pluralsight,EdX...) and throughout have gained a deep love for discovering insights with in data and making key plays. <br> I also manage social media accounts for 4 resturants and 1 dairy farm. That's my day to day life, really. I'm very passionate about what I do and take great pride in things I've learned along the way.</p>
									<br>
									<p>I've listed and detailed my abilities and current concentrations below.</p>
									<p>Oh, and #CowboysNation.</p> -->

									<!--Client Slider-->
									<div id="qualities">
										<div class="qualities">
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-desktop"></i></span>
												<span class="qual-tag">Web Development</span>
												<span class="qual-desc">
													I have designed, coded, and hosted websites using software such as Sketch, Photoshop, HTML, CSS, Bootstrap, GitHub pages, and Wordpress.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-line-chart"></i></span>
												<span class="qual-tag">Data Analytics</span>
												<span class="qual-desc">
													Using analytical processes, I help businesses(or myself, really) make data-driven decisions by uncovering key insights hidden within.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-pie-chart"></i></span>
												<span class="qual-tag"> Data Visualization</span>
												<span class="qual-desc">
													Translating data discoveries into a cohesive and comprehensive language for <i>all</i> viewers is essential for business to flourish. I enjoy doing so with Tableau.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-twitter"></i></span>
												<span class="qual-tag">Social Media Mgmt.</span>
												<span class="qual-desc">
													For 2+ years, I've managed social media accounts for various businessess. I help develop and implement strategies to drive brand awareness.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-paper-plane"></i></span>
												<span class="qual-tag"> Digital Marketing</span>
												<span class="qual-desc">
													During my studies, I've deployed Google AdWords campaigns and analyzed the data collected to increase brand awareness for a Plano,TX based charity.
												</span>
											</div>
											<div class="item" >
												<span class="fa-qual"><i class="fa fa-database"></i></span>
												<span class="qual-tag"> Database Mgmt.</span>
												<span class="qual-desc">
													I possess knowledge of SQL and the MySQL database and have used these skills to perform CRUD operations on databases for analysis.
												</span>
											</div>
										</div>
									</div>
									<!--/Client Slider-->
								</div>

							</div>
						</div>
						<div class="trans-overlay-dark-about"></div>
					</div>
				</div>
				<!--/About Section-->

				<!--Contact Section-->
				<div class="page page-right">
					<div  class="page-inner full-height">
						<div class="container align-center detail-info">
							<div class="row">
							<div data-ng-controller="ContactController" class="panel-body">
								<h3 class="col-lg-12 col-xs-9" data-ng-bind="formData.inputName||'Hello..'">Hello..</h3>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-9">
									<form data-ng-submit="submit(contactform, $event)"  name="contactform" method="post" class="form-horizontal" role="form">
										<div class="form-group input--hoshi" data-ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputName" type="text" class="form-control input__field input input__field--hoshi" id="inputName" name="inputName" placeholder="Name" required>
												<label class="input__label input__label input__label--hoshi input__label--hoshi-color-1 input__label--hoshi input__label--hoshi-color-1" ></label>
											</div>
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
											<div class="input-wrap">
												<input data-ng-model="formData.inputEmail" type="email" class="form-control input input__field input__field--hoshi" placeholder="Your Email" id="inputEmail" name="inputEmail" required>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group  input--hoshi" data-ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
											<div class="input-wrap">
												<textarea data-ng-model="formData.inputMessage" class="form-control input input__field input__field--hoshi" rows="4" id="inputMessage" name="inputMessage" placeholder="message" required></textarea>
												<label class="input__label input__label--hoshi input__label--hoshi-color-1"></label>
											</div>
										</div>
										<div class="form-group">
											<div class="align-center">
												<button type="submit" class="btn btn-default" data-ng-disabled="submitButtonDisabled">
													<span><span class="arrow-wrap"><span class="arrow"></span></span></span>
												</button>
											</div>
										</div>
									</form>
									<p data-ng-class="result">{{ resultMessage }}</p>
								</div>
								<div class="col-lg-3 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-9">
									<div class="align-center address-detail">
									<p>Dallas, Texas 75240 USA</p>

									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-phone"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="callto:2147381386" target="_blank">+1 (214) 738-1386</a>
									</div>
									<div class="icon col-lg-2 col-md-2 col-sm-2 col-xs-1"><i class="fa fa-envelope"></i></div>
									<div class="col-lg-10 col-md-10 col-sm-10 col-xs-11 pad-left-zero">
										<a href="mailto:Kalia.Hayes@utdallas.edu" target="_blank">Kalia.Hayes@utdallas.edu</a>
									</div>

								</div>

								</div>

							</div>

							</div>
						</div>

						<div class="trans-overlay-dark-contact"></div>
            		</div>
				</div>
				<!--/Contact Section-->

			</div>
			<!-- /Splitlayout -->

		</div>
		<!-- /Container -->

		<!-- Scripts -->
		<script src="js/jquery-1.11.3.min.js"></script>
		<script src="js/angular.min.js"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="js/classie.js"></script>
		<script src="js/cbpSplitLayout.js"></script>
		<script src="js/jquery.countdown.js"></script>
		<script src="js/typed.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/owl.carousel.js"></script>
		<script src="js/input-text.js"></script>
		<script src="js/notifyMe.js"></script>
		<script src="js/jquery.placeholder.js"></script>
		<script src="js/init.js"></script>
	</body>
</html>
